apiVersion: v1
kind: Config
preferences: {}
clusters:
  - cluster:
      server: https://host.docker.internal:6443
      insecure-skip-tls-verify: true
    name: docker-desktop
contexts:
  - context:
      cluster: docker-desktop
      user: docker-desktop
    name: docker-desktop
current-context: docker-desktop
users:
  - name: docker-desktop
    user:
      client-certificate-data: ...
      client-key-data: ...
